<div>
  <h3>
    Новый звонок
  </h3>
</div>
<table class="table table-striped" style="margin-bottom:20px">
  <tbody>
    <tr>
      <td>
          <mat-form-field class="fullwidth" *ngIf="call.points.length == 0">
            <mat-label>Выберите компанию</mat-label>
            <mat-select [(value)]="call.company">
              <mat-option *ngFor="let c of fltlist.companies"
                          [value]="c">
                {{ c.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div *ngIf="call.points.length > 0">
          {{call.company.name}}
        </div>
      </td>
    </tr>
    <tr>
      <td>

          <mat-form-field class="fullwidth" *ngIf="call.points.length == 0">
            <mat-label>Выберите этап</mat-label>
            <mat-select (selectionChange)="getNewCall()" [(value)]="call.stage">
              <mat-option *ngFor="let s of call.company.stages"
                          [value]="s">
                {{ s.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div *ngIf="call.points.length > 0">
          Этап: {{call.stage.name}}
        </div>
      </td>
    </tr>
    <tr>
      <td>
          <mat-form-field class="fullwidth">
            <mat-label>Выберите менеджера</mat-label>
            <mat-select [(value)]="call.manager" [formControl]="ManagerFormControl" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let m of call.company.managers"
                          [value]="m">
                {{ m.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="ManagerFormControl.hasError('required')">
              Необходимо выбрать менеджера
            </mat-error>
          </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="fullwidth">
            <input matInput [matDatepicker]="myDatepicker" [max]="maxDate" placeholder="Выберите дату звонка" [readonly]="true" [(ngModel)]="call.date">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
       </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
          <mat-form-field class="fullwidth">
            <mat-label>Введите имя клиента</mat-label>
            <input matInput [formControl]="NameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="call.clientName">
            <mat-error *ngIf="NameFormControl.hasError('required')">
              Требуется имя клиента
            </mat-error>
          </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
          <mat-form-field class="fullwidth">
            <mat-label>Вставьте ссылку на CRM</mat-label>
            <input matInput type="url" [(ngModel)]="call.clientLink">
          </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-checkbox [(ngModel)]="call.firstCalltoClient">Первый звонок клиенту</mat-checkbox>
      </td>
    </tr>
    <tr>
    <td>
        <mat-form-field class="fullwidth">
          <mat-label>Длительность</mat-label>
          <input matInput type="time" step="1" [(ngModel)]="call.duration">
          <mat-hint>Введите в формате чч:мм:сс</mat-hint>
        </mat-form-field>
    </td>
  </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>№</th>
      <th>Пункт</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let p of call.points; let i = index">
      <td>
        {{i+1}}
      </td>
      <td>{{p?.name}}</td>
      <td>
        <mat-form-field>
          <mat-label>Введите значение</mat-label>
          <input matInput  type="number"  [max]="p.maxMark" [min]="0" [(ngModel)]="p.value" (change)="updateTotalData()">
          <mat-hint>Введите значение от 0 до {{p.maxMark}}</mat-hint>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="call.points.length > 0">
      <td></td>
      <td><b>Средний %</b></td>
      <td>
        <b>{{call.quality}}%</b>
      </td>
    </tr>
  </tbody>

</table>
<table class="table table-striped" style="margin-bottom:20px">
  <tbody>
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <mat-label>Введите коррекцию</mat-label>
          <textarea matInput [(ngModel)]="call.correction" [ngClass]="{'positive' : call.correctioncolor =='green',
            'negative' : call.correctioncolor =='red'}"></textarea>
        </mat-form-field>
      </td>
      <td>
        <mat-radio-group aria-label="Тип коррекции" [(ngModel)]="call.correctioncolor">
          <mat-radio-button value="no color">Не выбрано</mat-radio-button>
          <mat-radio-button value="green">Положительная</mat-radio-button>
          <mat-radio-button value="red">Отрицательная</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>
    <tr>
      <td>
        <mat-radio-group aria-label="Статус клиента" [(ngModel)]="call.clientState">
          <mat-radio-button value="Success">Успешно закрыт</mat-radio-button>
          <mat-radio-button value="Missed">Упущен</mat-radio-button>
          <mat-radio-button value="Work">В работе</mat-radio-button>
        </mat-radio-group>
      </td>
      <td>
        <mat-form-field class="fullwidth" *ngIf="call.clientState=='Work'">
          <input matInput [matDatepicker]="DatePickerNext" placeholder="Выберите дату следующего контакта" [readonly]="true" [(ngModel)]="call.dateNext">
          <mat-datepicker-toggle matSuffix [for]="DatePickerNext"></mat-datepicker-toggle>
          <mat-datepicker #DatePickerNext></mat-datepicker>
          <button matSuffix [for]="DatePickerNext" type="button" class="btn  btn-sm btn-default" (click)="call.dateNext = undefined" *ngIf="call.dateNext != undefined">&times;</button>
        </mat-form-field>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn  btn-sm btn-success" [attr.disabled]="call.points.length > 0 ? null : ''" (click)="saveCall()">Сохранить</button>

