<h1>Звонки</h1>
<Search-Panel [curFlt]="curFlt" [forStatistic] ="true"></Search-Panel>
<button type="button" class="btn btn-sm btn-success" (click)="getCalls()">Получить звонки</button>

<div>
  <ng-container *ngFor="let s of StatisticsStages; let i = index">
    <button [className]="curStage == s.stageName ? 'btn btn-primary': 'btn btn-default'" (click)="ChangeStage(s)">{{s.stageName}}</button>
  </ng-container>
</div>
<div *ngFor="let table of Tables; let i = index" style="margin-bottom: 100px">

    <table class="table table-striped">
      <tr>
        <th [attr.colspan]="table.period.length + 1" style="text-align: center; vertical-align: middle">{{table.tableName}}</th>
      </tr>
      <tr>
        <th>Менеджер / Месяц</th>
        <th *ngFor="let per of table.period; let j = index">
          {{per}}
        </th>
      </tr>
      <tr *ngFor="let row of table.data; let j = index">
        <th>
          {{row.rowname}}
        </th>
        <td *ngFor="let cell of row.cells; let k = index">
          {{cell.value}}
        </td>
      </tr>
    </table>
</div>

