<h1>Звонки</h1>

<mat-form-field>
  <mat-label>Выберите компанию</mat-label>
  <mat-select [(value)]="curFlt.company">
    <mat-option *ngFor="let c of fltlist.companies"
                [value]="c">
      {{ c.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Выберите этап</mat-label>
  <mat-select [(value)]="curFlt.stage">
    <mat-option *ngFor="let s of curFlt.company.stages"
                [value]="s">
      {{ s.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Выберите менеджера</mat-label>
  <mat-select [(value)]="curFlt.manager">
    <mat-option *ngFor="let m of curFlt.company.managers"
                [value]="m">
      {{ m.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field color="accent">
  <input matInput [max]="DateEnd" [matDatepicker]="myDatepicker" placeholder="Выберите дату начала" [readonly]="true" [(ngModel)]="DateBegin">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
</mat-form-field>
<mat-form-field color="accent">
  <input matInput [min]="DateBegin" [matDatepicker]="myDatepicker2" placeholder="Выберите дату окончания" [readonly]="true" [(ngModel)]="DateEnd">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker2></mat-datepicker>
</mat-form-field>
<button type="button" class="btn btn-sm btn-success" (click)="getCalls()">Получить звонки</button>

<div>
  <ng-container *ngFor="let s of StatisticsStages; let i = index">
    <button [className]="curStage == s.stageName ? 'btn btn-primary': 'btn btn-default'" (click)="ChangeStage(s)">{{s.stageName}}</button>
  </ng-container>
</div>
<div *ngFor="let table of Tables; let i = index" style="margin-top: 30px">

    <table class="table table-striped">
      <tr>
        <th [attr.colspan]="table.period.length + 1" style="text-align: center; vertical-align: middle">{{table.tableName}}</th>
      </tr>
      <tr>
        <th>Менеджер / Месяц</th>
        <th *ngFor="let per of table.period; let j = index">
          {{per}}
        </th>
      </tr>
      <tr *ngFor="let row of table.data; let j = index">
        <th>
          {{row.rowname}}
        </th>
        <td *ngFor="let cell of row.cells; let k = index">
          {{cell.value}}
        </td>
      </tr>
    </table>
</div>

