<h1>Звонки</h1>


<table class="table table-striped" *ngIf="callslist; else changecall">

  <thead>
    <tr>
      <th>Компания</th>
      <th>Этап</th>
      <th>Дата</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select [(ngModel)]="curFlt" [value]="curFlt" >
          <option *ngFor="let c of fltlist.pointsFilter" [value]="c">{{c.company.name}}</option>
        </select>
        <!--<mat-select [(value)]="curFlt">
          <mat-option *ngFor="let c of fltlist.pointsFilter"
                      value="{{ c }}">
            {{ c.name }}
          </mat-option>
        </mat-select>-->
      </td>
      <td></td>
      <td></td>
      <td><button type="button" class="btn btn-sm btn-success" (click)="getCalls()">Получить звонки</button></td>
    </tr>
      <tr *ngFor="let c of calls">
        <td>{{c?.company}}</td>
        <td>{{c?.stage}}</td>
        <td>{{c?.date}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editCall(c)">Изменить</button>
          <button class="btn btn-sm btn-danger">Удалить</button>
        </td>
      </tr>
  </tbody>

</table>
<ng-template #changecall>
  <button class="btn btn-sm btn-primary" (click)="returnCalls()">Вернуться ко всем звонкам</button>
  <app-call [call]="call"></app-call>
</ng-template>

