<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div>
    {{call.date}}
  </div>
  <div>
    {{call.company}}
  </div>
  <div>
    {{call.stage}}
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Пункт</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let p of call.points">
        <td>{{p?.name}}</td>
        <td><input type="number" [(ngModel)]="p.value" (change) ="updateTotalData()"/></td>
      </tr>
      <tr>
        <td><b>Всего</b></td>
        <td>{{callQuality}}</td>
      </tr>
    </tbody>

  </table>

</body>
</html>
