<ng-container *ngIf="tableMode; else changecompany">
  <h1>Компании</h1> <button type="button" class="btn btn-sm btn-success" (click)="newCompany()">Добавить</button>

  <table class="table table-striped">

    <thead>
      <tr>
        <th>Компания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let c of companies">
        <td>{{c?.name}}</td>
        <td>
          <button type="button" class="btn  btn-sm btn-dark" (click)="OpenCompany(c)">Открыть карточку</button>
        </td>
      </tr>
    </tbody>

  </table>
</ng-container>
<ng-template #changecompany>
  <ng-container *ngIf="!StageMode; else Stage">
    <div class="col-sm-12" style="margin-top:20px">
      <div class="col-sm-3" style="margin-top:20px">
        <button class="btn btn-sm btn-secondary" (click)="returnCompanies()">Вернуться ко всем компаниям</button>
      </div>
      <div class="col-sm-7" style="margin-top:20px">
        <h2 style="text-align:center">{{caption}}</h2>
      </div>
    </div>

    <ngb-alert *ngIf="hasErrors" type="danger" (close)="closeError()">
      <ul>
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>
    </ngb-alert>
    <div style="text-align:right">
      <button class="btn btn-danger" [attr.disabled]="curCompany.id == null ? '' : null" (click)="delete()">Удалить</button>
    </div>
    <div style="text-align:right">
      <label class="btn btn-primary btn-file" [style.visibility]="curCompany.id == null ? 'visible' : 'hidden'">
        Загрузить из excel
        <input type="file" (change)="chooseXLS($event)" style="display:none" accept=".xlsx, .xlsm" />
      </label>
      <div *ngFor="let file of Attachments" style="font-size:medium;margin-left:10px; color:tan">
        {{file?.name}}
      </div>
      <button *ngIf="Attachments.length > 0" class="btn btn-success" (click)="uploadXLS()">Обработать</button>
      <div class="spinner-border" role="status" [style.visibility] ="processFile ? 'visible' : 'hidden'">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div style="margin-top:20px">
      <table class="table table-striped" style="margin-top:20px; width : 50%">
        <tbody>
          <tr>
            <td>
              <b style="font:bold">Название компании</b>

            </td>
            <td>
              <input class="form-control" [(ngModel)]="curCompany.name" name="companyName" placeholder="Введите название" (change)="editCaption()" #companyName="ngModel" required />
              <div [hidden]="companyName.valid || companyName.untouched" class="alert alert-danger">
                Поле должно быть заполнено
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>

      <table class="table table-striped" style="margin-top:40px; width : 50%">
        <thead>
          <tr>
            <th>
              <h3>Менеджеры</h3>
            </th>
            <th>
              <button type="button" class="btn btn-sm btn-success" [attr.disabled]="!ModeNewManager ? null : ''" (click)="newManager()">Новый менеджер</button>
            <th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="ModeNewManager">
            <td>
              <input class="form-control" [(ngModel)]="curmanager.name" placeholder="Введите ФИО" />
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-success" (click)="addManager()">Добавить</button>
            </td>
          </tr>
          <ng-container *ngFor="let m of curCompany.managers">
            <tr *ngIf="m.deleted == false">
              <td>
                {{m.name}}
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteMan(m)">Удалить</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div style="margin-top:20px; width : 50%">

      <table class="table table-striped" style="margin-top:20px">
        <thead>
          <tr>
            <th>
              <h3>Этапы</h3>
            </th>
            <th>Входящий этап</th>
            <th>Этап договора</th>
            <th>Этап перед договором</th>
            <th>
              <button type="button" class="btn btn-sm btn-success" (click)="newStage()">Добавить этап</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let s of curCompany.stages">
            <tr *ngIf="s.deleted == false">
              <td>
                {{s.name}}
              </td>
              <td>
                <mat-checkbox [(ngModel)]="s.incomeStage"></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(ngModel)]="s.agreementStage"></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(ngModel)]="s.preAgreementStage"></mat-checkbox>
              </td>
              <td>
                <button type="button" class="btn  btn-sm btn-primary" (click)="editStage(s)">Редактировать</button>
                <button type="button" class="btn btn-danger" (click)="deleteStage(s)">Удалить</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <mat-form-field>
        <mat-label>Количество дней для анализа звонков</mat-label>
        <input matInput type="number" [min]="7" [(ngModel)]="curCompany.daysForAnalyze">
        <mat-hint>Введите значение от 7</mat-hint>
      </mat-form-field>
    </div>
    <div style="margin-top:20px; width : 50%; text-align :right">
      <button type="button" class="btn  btn-sm btn-success" [attr.disabled]="companyName.valid ? null : ''" (click)="saveCompany()">Сохранить</button>
    </div>
  </ng-container>
</ng-template>

<ng-template #Stage>
  <button class="btn btn-sm btn-primary" (click)="returnToCompany()">Вернуться к компании</button>
  <h3>
    {{curCompany.name}}
  </h3>
  <app-stage [(stage)]="curStage"></app-stage>
</ng-template>
