
<nav class="navbar">

  <ul class='nav navbar-nav'>
    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
      <a [routerLink]='["/"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-home'></span> Home
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/calls"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Звонки
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/call"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Звонок
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/companies"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Компании
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/counter"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-education'></span> Counter
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Fetch data
      </a>
    </li>
  </ul>

</nav>
