<nav class="navbar main-nav bg-dark navbar-dark">
  <div class="main-nav__wrapper container-fluid">
    <div class="navbar-header">
      <button style="border:none" class="navbar-toggler btn btn-group-toggle"
              type="button" data-toggle="collapse"
              data-target="#navbody" aria-expanded="true">
        <!--<i class="fa fa-th-list" style="color:aliceblue"></i>-->
        <i style="color:aliceblue" class="navbar-icon fa fa-bars icon"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" [ngClass] ="{'show': isExpanded}" id="navbody">
      <ul class='nav navbar-nav navbar__list'>
        <li class="text-white navbar__list-item" [routerLinkActive]='["navbar__list-item_active"]'>
          {{user.firstName}}
        </li>
        <li class="navbar__list-item" [routerLinkActive]='["navbar__list-item_active"]'>
          <a class="navbar__list-item-link" [routerLink]='["/calls"]'>
            <i class="navbar-nav__icon fa fa-phone-square"></i> Звонки
          </a>
        </li>
        <li class="navbar__list-item" [routerLinkActive]='["navbar__list-item_active"]'>
          <a class="navbar__list-item-link" [routerLink]='["/call/new"]'>
            <i class="navbar-nav__icon fa fa-phone-square"></i> Новый звонок
          </a>
        </li>
        <li class="navbar__list-item" [routerLinkActive]='["navbar__list-item_active"]'>
          <a class="navbar__list-item-link" [routerLink]='["/companies"]'>
            <i class="navbar-nav__icon fa fa-briefcase"></i> Компании
          </a>
        </li>
        <li class="navbar__list-item" [routerLinkActive]='["navbar__list-item_active"]'>
          <a class="navbar__list-item-link" [routerLink]='["/missedcall"]'>
            <i class="navbar-nav__icon fa fa-briefcase"></i> Упущенные клиенты
          </a>
        </li>
        <li class="navbar__list-item" [routerLinkActive]='["navbar__list-item_active"]'>
          <a class="navbar__list-item-link" [routerLink]='["/statistics"]'>
            <i class="navbar-nav__icon fa fa-briefcase"></i> Статистики
          </a>
        </li>

        <li class="navbar__list-item" [routerLinkActive]='["navbar__list-item_active"]'>
          <a class="navbar__list-item-link" [routerLink]='["/roles"]'>
            <span class="glyphicon glyphicon-education"></span> Настройка ролей доступа
          </a>
        </li>
        <li class="navbar__list-item" [routerLinkActive]='["navbar__list-item_active"]'>
          <a class="navbar__list-item-link" [routerLink]='["/users"]'>
            <span class="glyphicon glyphicon-education"></span> Настройка пользователей
          </a>
        </li>
        <li class="navbar__list-item" [routerLinkActive]='["navbar__list-item_active"]'>
          <button class="btn btn-sm btn-primary" (click)="logout()">
            <span class="glyphicon glyphicon-th-list"></span> Выйти
          </button>
        </li>
      </ul>

    </div>
  </div>
</nav>
